@charset "UTF-8";
@import "_.scss";

#wrapper {
	#featureContainer {
		@include sbtb {
			display: flex;
			flex-wrap: nowrap;
			width: 100%;
			box-sizing: border-box;
			max-height: 250px;
			overflow-x: auto;
			padding: 10px;
			background-color: rgba(blue, 0.5);
			.featureBox {
				margin-right: 10px;
				border: 1px black solid;
				border-radius: 5px;
				min-width: 280px;
				background-color: white;
				.title {
					border-bottom: 1px gray solid;
					padding: 10px;
				}
				.content {
					padding: 15px;
				}
			}
		}
		@include fb {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			.featureBox {
				margin-right: 10px;
				margin-bottom: 10px;
				border: 1px black solid;
				border-radius: 10px;
				max-width: 300px;
				background-color: white;
				.title {
					border-bottom: 1px gray solid;
					padding: 10px;
				}
				.content {
					padding: 15px;
				}
				&:hover {
					background-color: rgba(white, 0.5);
				}
			}
		}
	}
	#registerContainer {
		margin-top: 50px;
		#register-login_tab {
			display: flex;
			justify-content: center;
			@include fb {
				display: none;
			}
			img {
				width: 50%;
				max-width: 250px;
				border: 1px black solid;
				cursor: pointer;
				&:hover {
					background-color: rgba(white, 0.8);
				}
				@include sbtb {
					&.selected {
						border: 1px blue solid;
						background-color: rgba(white, 0.8);
					}
				}
			}
		}
		#register-login_formContainer {
			margin-top: 10px;
			@include fb {
				display: flex;
				justify-content: center;
			}
			#loginWarning, #registerWarning {
				&:not(.warning) {
					display: none;
				}
				&.warning {
					padding: 0.2rem 0.5rem;
					background-color: rgba(255, 220, 220);
					border: 1px gray solid;
					font-size: 0.6rem;
					&::before {
						content: "※";
						margin-right: 0.5rem;
					}
				}
			}
			.register-login_form {
				overflow: hidden;
				border: 1px gray solid;
				padding: 25px;
				background-color: rgba(white, 0.3);
				@include sbtb {
					&:not(.selected) {
						display: none;
					}
				}
				@include fb {
					min-width: 300px;
				}
				.title {
					border-left: 5px blue solid;
					margin-bottom: 25px;
					padding-left: 5px;
					font-size: 1.2rem;
				}
				.description {
					margin-top: 25px;
					&::before {
						content: "★";
					}
				}
				input {
					font-size: 0.8rem;
					padding: 0.3rem 0.5rem;
				}
				button {
					margin: 25px;
					display: flex;
					justify-content: center;
					align-items: center;
					width: 8rem;
					height: 1.8rem;
					color: white;
					background-color: gray;
					&.ok {
						color: black;
						background-color: aliceblue;
						cursor: pointer;
						&:hover {
							color: white;
							font-weight: bold;
							background-color: blue;
						}
					}
				}
			}
		}
	}
}

