@charset "UTF-8";
@media screen and (max-width: 1000px) {
  #wrapper #featureContainer {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    box-sizing: border-box;
    max-height: 250px;
    overflow-x: auto;
    padding: 10px;
    background-color: rgba(0, 0, 255, 0.5);
  }
  #wrapper #featureContainer .featureBox {
    margin-right: 10px;
    border: 1px black solid;
    border-radius: 5px;
    min-width: 280px;
    background-color: white;
  }
  #wrapper #featureContainer .featureBox .title {
    border-bottom: 1px gray solid;
    padding: 10px;
  }
  #wrapper #featureContainer .featureBox .content {
    padding: 15px;
  }
}
@media screen and (min-width: 1001px) {
  #wrapper #featureContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #wrapper #featureContainer .featureBox {
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px black solid;
    border-radius: 10px;
    max-width: 300px;
    background-color: white;
  }
  #wrapper #featureContainer .featureBox .title {
    border-bottom: 1px gray solid;
    padding: 10px;
  }
  #wrapper #featureContainer .featureBox .content {
    padding: 15px;
  }
  #wrapper #featureContainer .featureBox:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
}
#wrapper #registerContainer {
  margin-top: 50px;
}
#wrapper #registerContainer #register-login_tab {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1001px) {
  #wrapper #registerContainer #register-login_tab {
    display: none;
  }
}
#wrapper #registerContainer #register-login_tab img {
  width: 50%;
  max-width: 250px;
  border: 1px black solid;
  cursor: pointer;
}
#wrapper #registerContainer #register-login_tab img:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
@media screen and (max-width: 1000px) {
  #wrapper #registerContainer #register-login_tab img.selected {
    border: 1px blue solid;
    background-color: rgba(255, 255, 255, 0.8);
  }
}
#wrapper #registerContainer #register-login_formContainer {
  margin-top: 10px;
}
@media screen and (min-width: 1001px) {
  #wrapper #registerContainer #register-login_formContainer {
    display: flex;
    justify-content: center;
  }
}
#wrapper #registerContainer #register-login_formContainer #loginWarning:not(.warning), #wrapper #registerContainer #register-login_formContainer #registerWarning:not(.warning) {
  display: none;
}
#wrapper #registerContainer #register-login_formContainer #loginWarning.warning, #wrapper #registerContainer #register-login_formContainer #registerWarning.warning {
  padding: 0.2rem 0.5rem;
  background-color: rgb(255, 220, 220);
  border: 1px gray solid;
  font-size: 0.6rem;
}
#wrapper #registerContainer #register-login_formContainer #loginWarning.warning::before, #wrapper #registerContainer #register-login_formContainer #registerWarning.warning::before {
  content: "※";
  margin-right: 0.5rem;
}
#wrapper #registerContainer #register-login_formContainer .register-login_form {
  overflow: hidden;
  border: 1px gray solid;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.3);
}
@media screen and (max-width: 1000px) {
  #wrapper #registerContainer #register-login_formContainer .register-login_form:not(.selected) {
    display: none;
  }
}
@media screen and (min-width: 1001px) {
  #wrapper #registerContainer #register-login_formContainer .register-login_form {
    min-width: 300px;
  }
}
#wrapper #registerContainer #register-login_formContainer .register-login_form .title {
  border-left: 5px blue solid;
  margin-bottom: 25px;
  padding-left: 5px;
  font-size: 1.2rem;
}
#wrapper #registerContainer #register-login_formContainer .register-login_form .description {
  margin-top: 25px;
}
#wrapper #registerContainer #register-login_formContainer .register-login_form .description::before {
  content: "★";
}
#wrapper #registerContainer #register-login_formContainer .register-login_form input {
  font-size: 0.8rem;
  padding: 0.3rem 0.5rem;
}
#wrapper #registerContainer #register-login_formContainer .register-login_form button {
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 1.8rem;
  color: white;
  background-color: gray;
}
#wrapper #registerContainer #register-login_formContainer .register-login_form button.ok {
  color: black;
  background-color: aliceblue;
  cursor: pointer;
}
#wrapper #registerContainer #register-login_formContainer .register-login_form button.ok:hover {
  color: white;
  font-weight: bold;
  background-color: blue;
}